@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.react-calendar__tile--active {
    background-color: #c3ebfa !important;
    color: black !important;
}

/* Make each time slot (column) taller */
.fc-timegrid-slot {
  height: 80px !important;  /* Adjust the height as per your preference */
}

/* Optional: Ensure the calendar fills the space */
.calendar-container {
  height: 100vh; /* This makes the container fill the entire viewport height */
  display: flex;
  flex-direction: column;
}

.fc {
  height: 100%; /* Ensure the FullCalendar component fills the parent container */
}

/* Optional: Adjust spacing and padding for better clarity */
.fc-timegrid-event {
  padding: 10px;
  font-size: 14px;
}
